@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--primary-color: #00d176;
	--secondary-color: #091d3e;
	--ascent-color: #789fdd;
}

.rounded-card {
	@apply rounded-xl sm:hover:scale-105 transition-all duration-300 md:min-h-[45vw] lg:min-h-[25vw] p-4 flex flex-col justify-center items-center;
}

/*scrollbar settings*/

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: #111;
}

::-webkit-scrollbar-thumb {
	background: #222;
}

::-webkit-scrollbar-thumb:hover {
	background: #333;
}
